### Application specific ###
.env
.secret

### IDE ###
.vscode
.venv

### Rust ###
debug/
target/

**/*.rs.bk

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/