services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PWD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - kohaku-database:/var/lib/postgresql/data

  kohaku-server:
    build: server/
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PWD}@postgres/kohaku
      - SERVER_ADDR=localhost
      - SERVER_PORT=${SERVER_PORT}
      - SERVER_LOGGING_LEVEL=${SERVER_LOGGING_LEVEL}
      - SECRET=${SECRET}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  kohaku-client:
    build: client/
    restart: unless-stopped
    depends_on:
      - kohaku-server
    environment:
      - CLIENT_TOKEN=${CLIENT_TOKEN}
      - CLIENT_ADDR=localhost
      - CLIENT_PORT=${CLIENT_PORT}
      - CLIENT_LOGGING_LEVEL=${CLIENT_LOGGING_LEVEL}
      - CLIENT_PREFIX=${CLIENT_PREFIX}
      - SERVER_ADDR=kohaku-server
      - SERVER_PORT=${SERVER_PORT}
      - SECRET=${SECRET}
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
volumes:
  kohaku-database: