services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PWD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - kohaku-database:/var/lib/postgresql/data

  kohaku-server:
    build: server/
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - BOOTSTRAP_KEY=${BOOTSTRAP_KEY}
      - SERVER_LOGGING_LEVEL=${SERVER_LOGGING_LEVEL}
      - SERVER_ADDR=localhost
      - SERVER_PORT=${SERVER_PORT}
      - SERVER_ENCRYPTION_KEY=${SERVER_ENCRYPTION_KEY}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PWD}@postgres/kohaku
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  kohaku-client:
    build: client/
    restart: unless-stopped
    depends_on:
      - kohaku-server
    environment:
      - OWNER_ID=${OWNER_ID}
      - SERVER_WS_URL=ws://kohaku-server:${SERVER_PORT}/ws
      - SERVER_API_URL=http://kohaku-server:${SERVER_PORT}/api
      - CLIENT_LOGGING_LEVEL=${CLIENT_LOGGING_LEVEL}
      - CLIENT_PREFIX=${CLIENT_PREFIX}
      - CLIENT_TOKEN=${CLIENT_TOKEN}
volumes:
  kohaku-database: